<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        </h3>
        <ul class="masthead-menu">
          <li><a href="http://dubdromic.com" title="Home">{{ site.title }}</a></li>
          <li><a href="http://www.github.com/dubdromic" title="GitHub">GitHub</a></li>
          <li><a href="http://www.twitter.com/dubdromic" title="Twitter">Twitter</a></li>
          <li><small>AC7425460624A469</small></li>
        </ul>
      </header>

      <main>
        {{ content }}
      </main>
   </div>
  </body>
</html>
